<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>


    <!-- cordova script (this will be a 404 during development) -->
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
    <!-- old -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <script src="lib/firebase.js"></script>
    <script src="lib/angularfire.min.js"></script>
    <script src="lib/Chart.js"></script>
    <script src="lib/angular-chart.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/profileCtrl.js"></script>
    <script src="js/advanceCtrl.js"></script>
    <script src="js/schedular.js"></script>
    <script src="js/trackingCtrl.js"></script>
    <script src="js/bloggingCtrl.js"></script>
    <script src="js/dashboardCtrl.js"></script>
    <script src="js/rptshareCtrl.js"></script>

</head>

<body ng-app="diametrix">
    <ion-side-menus>

        <ion-side-menu-content ng-controller="NavCtrl">

            <ion-nav-bar align-title="center" class="bar-positive">
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()">
                    </button>
                </ion-nav-buttons>
            </ion-nav-bar>

            <ion-nav-view animation="slide-left-right"></ion-nav-view>
        </ion-side-menu-content>

        <ion-side-menu side="left">
            <ion-header-bar class="bar bar-header bar-positive">
                <h1 class="title">Menu</h1>

            </ion-header-bar>
            <ion-content has-header="true">
                <div class="item" href="#" style="padding:0px;">
                    <img src="img/clear2.png">
                </div>
                <ul class="list">

                    <li>
                        <a class="item" menu-close nav-clear href="#/profile">Profile</a>
                    </li>
                    <li>
                        <a class="item" menu-close href="#/dashboard">DashBoard</a>
                    </li>
                    <li>
                        <a class="item" menu-close href="#/alert">Scheduler</a>
                    </li>
                    <li>
                        <a class="item" menu-close href="#/advanced">Setting</a>
                    </li>
                    <li>
                        <a class="item" menu-close href="#/tracking">Tracking</a>
                    </li>
                    <li>
                        <a class="item" menu-close href="#/Blog">Blogs</a>
                    </li>
                    <li>
                        <a class="item" menu-close href="#/reports">Shared Reports</a>
                    </li>
                    <li>
                        <a class="item" menu-close href="#/login">Logout</a>
                    </li>
                </ul>
            </ion-content>
        </ion-side-menu>

    </ion-side-menus>

</body>

</html>