/* Empty. Add your own CSS if you like */
.bar-custom
{
	background-color: #242f24;
}

.larger {
    font-size: 30px;
}
#auth {
  border: none;	
}

@media screen and (max-width: 740px) { 
  #auth button {
    width: 100%;
  }
}


ion-scroll[direction=x] {
  width: 100vw;
}
ion-scroll[direction=y] {
  height: 100vh;
}

#login {
  background: linear-gradient(lightgrey,lightyellow,white,lightgrey,lightgrey,lightyellow);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;

    form {
      display: table-cell;
      vertical-align: middle;

      .header {
        padding-bottom: 20px;

        img {
          display: block;
          width: 80%;
          margin: 0 auto;
        }
      }
      .button.button-light.active, .button.button-light.activated {
        color: #fff;
        opacity: inherit;
      }
    }
  }
}

#tracking{
    .true {
        display: -webkit-box;
    }
    .false {
        display: none;
    }
}

#dashboard {
  background: linear-gradient(lightgrey,lightyellow,white,lightgrey,lightgrey,lightyellow);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;

    form {
      display: table-cell;
      vertical-align: middle;

      .header {
        padding-bottom: 20px;

        img {
          display: block;
          width: 80%;
          margin: 0 auto;
        }
      }
      .button.button-light.active, .button.button-light.activated {
        color: #fff;
        opacity: inherit;
      }
    }
  }
}
